
<mat-card class="product-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content class="product-content">
    <h2>{{ product.name }}</h2>
    <p> {{ product.description }} </p>
  </mat-card-content>
  <mat-card-actions class="product-actions">
    <button mat-icon-button  color="primary" (click)="addToCart()" [matBadgeHidden]="!cartItem.inCart" [matBadge]="cartItem.quantity" matBadgeColor="warn" matBadgeSize="medium">
        <mat-icon>shopping_cart</mat-icon>
    </button>
    <hr />
    <button mat-icon-button color="primary">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="onFavorite()" color="warn">
        <mat-icon *ngIf="!favorite; else Favorite">favorite_border</mat-icon>
        <ng-template #Favorite>
            <mat-icon>favorite</mat-icon>
        </ng-template>
    </button>
  </mat-card-actions>
</mat-card>